div{
    background-color: aqua;
    margin: 10px;
    /* text-align: center; */
    padding: 10px;
}
.ul{
    size: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}